# Xcode
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# SPM
.swiftpm/
.build/
.swift-build-output
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Firebase
GoogleService-Info.plist
.firebaserc
firebase-debug.log

# macOS
.DS_Store

# Build
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Other
*.swp
*~.nib
*.log
